* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #21960c, #0f7794);
    color: white;
    font-size: 23px;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    border-bottom: 2px solid black;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    flex-wrap: wrap;


}

ul {
    display: flex;
    flex-direction: row;

}

li {
    align-items: center;
    /* border: 2px solid blue; */
    list-style: none;
    margin: 0 23px;
    padding: 4px 0;
}

nav li a {
    color: white;
    text-decoration: none;
    font-family: "Nunito", sans-serif;


}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;

}

h1 {
    font-family: "Dosis", sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}

hr {
    width: 10vw;
    margin: auto;
    margin-top: 10px;
}

#form {
    font-family: "Asap", sans-serif;
    margin: auto;
    border: 1px solid white;
    border-radius: 80px 20px;
    min-height: (28vw, 30vw);
    padding: 10px 20px;
    width: 40vw;
    min-width: (30vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
    background: white;
    color: rgb(52, 52, 52);
    box-shadow: 0 12px 22px 12px rgb(0, 0, 0, 0.6);

}

input {
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    padding: 0 10px;
    flex-wrap: wrap;

}

.input-perso-info {
    margin: 35px 10px -5px 20px;
    /* margin-left: 20px; */
    /* margin-right: 10px; */
    /* margin-top: 35px; */
    /* margin-bottom: -5px; */
}

label {
    font-size: 18 px;
}


/* ----------------------------------------------name----------------------------------------------- */
#label-name {
    font-size: 20px;
}

#name-data {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;

}

#first {
    width: 40%;

}

#second {
    width: 40%;

}

/* ----------------------------------------------name  END----------------------------------------------- */
/* -------------------------------------------------Email and contact-number----------------------------------- */

.label-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    /* border: 2px solid blue;  */
    margin-top: 10px;
    font-size: 20px;

}

.input-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
    border-radius: 8px;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    font-size: 18px;
}


#email {
    width: 60%;
}

#number {
    width: 30%;
}



/* -------------------------------------------------Email and contact-number     END----------------------------------- */
/* -------------------------------------------------Second row----------------------------------- */
.second-row {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   width: 100%;
}

.label-second-row {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px; 
}

.input-second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    /* border: 2px solid red; */
}

#date {
    width: 100%;
    height: 25px;
}

#position {
    width: 90%;
    height: 25px;
}


/* -------------------------------------------------Second row- END---------------------------------- */

/* -------------------------------------------------Employee Status----------------------------------- */
.employee-status-div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;

}
.emp-status-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
    /* border: 2px solid red; */
}
.emp-status-radio1{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.emp-status-radio2{
    display: flex;
    flex-direction: column;
    width: 40%;
}



.one {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    /* border: 2px solid rgb(21, 164, 207); */
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    /* border: 2px solid green; */
}
.three{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    /* border: 2px solid blue; */
}
.four{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    /* border: 2px solid yellow; */
}
/* -------------------------------------------------------------buttons------------------------------------------------- */

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid red; */
    gap: 25px;
    
}

#reset {
    background: rgb(226, 224, 223);
    border: 0.5 solid black;
    width: 7vw;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.6);
   
}

#submit {
    background: rgb(18, 18, 18);
    border: 0.5 solid rgb(198, 197, 197);
    color: aliceblue;
    width: 7vw;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.6);
}

#reset:hover {
    background: rgb(125, 124, 124);
    color: whitesmoke;
}

#submit:hover {
    background: rgb(125, 124, 124);
    color: whitesmoke;
}